@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
    /* border: 5px; */
}
.landingContent{
    height: 91vh;
    width: 100%;
    background-color: rgba(248,249,251,255);

    background-image: url('../images/bill3.png');
    background-repeat: no-repeat;
    background-position: 56.05vw 7.74vw;
    background-size: 39.34vw;
    border-top: 2px black solid;

}

.introductory{
    height: 100%;
    /* display: flex;
    align-items: center;
    padding-left: 19.17vw; */
}

#hi{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    /* font-style: normal; */
    font-size: 2.415rem;
    color: rgb(255, 148, 66);
}

#name{
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-size: 6.04rem;
    color: rgb(50, 50, 104);
}
#position{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 2.8135rem;
    color: black;
}

#description{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.65rem;
    color: rgb(82, 81, 81);
}





/* greater than */
@media screen and (width > 973px) {
    #roundImage{
        display: none; /* Remove round image */
    }
    .introductory{
        display: flex;
        align-items: center;
        padding-left: 19.17vw;
    }
    
}

/* less than */
@media screen and (width < 973px) {
    .landingContent {
      background-image: none; /* Remove background image */
    }
    .profile{
        display: flex;
        justify-content: center;
        margin-top: 4vh;
    }
    #roundImage{
        width: 67vw;
        border-radius: 50%;
    }
    .introductory{
        display: flex; /* Enable flexbox for the parent container */
        justify-content: center; /* Horizontally center the image */
        margin-top: 1.6rem;
        
    }
    #hi{
        font-size: 1.3rem;
    }
    
    #name{        
        font-size: 3.46rem;
    }
    #position{
        font-size: 1.5rem;
    }
    #description{
        font-size: 0.73rem;
        margin-top: 0.35rem;
    }

}

/* 
change all the font sizes
font must be to parent size like em 
when in another device default browser size in 15 px then adjust according to that 
*/







