*{
    margin: 0;
    padding: 0;
}
.fullHomeHeader{
    /* background-color: rgba(236, 118, 66, 255); */
    width: 100%;
    height: 9vh;        /* viewport height */
    padding: 0 7vw 0 6vw;     /* viewport width */
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;        /* Vertical alignment */
    box-sizing: border-box;     /* Will not exceed the width or heigh */

    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 550;
}
.leftNav{
    /* width: 55%; */
    /* border: 1px black solid; */
    display: flex;
    align-items: center;
}
.rightNav{
    /* width: 45%; */
    display: flex;
    /* justify-content: space-between; */
    /* border: 1px black solid; */    
}
a{
    /* Here in css instead of NavLink we use a (anchor) tag to refer NavLink */
    text-decoration: none;
    color: rgb(90, 89, 89);
    margin-left: 2.8vw;
}

#avatarRound{
    border-radius: 50%;
    width: 50px;
    margin-right: 13px;
}

.btnMenu .line{
    width: 37px;
    height: 4px;
    border-radius: 10px;
    background-color: black;
}
#line1, #line2{
    margin-bottom: 4px;
}










@media (width< 973px){
    a {
        display: none;
    }
    .btnMenu:hover {
        #line2 {
          display: none; /* Hide the second line on hover */
        }
        
        animation-name: menu;
        animation-duration: 2s;
    }
      
    @keyframes menu {
        from {
          #line1 {
            transform: rotateX(60deg); /* Rotate first line 60 degrees on X-axis */
          }
        }
        to {
          #line3 {
            transform: rotateX(180deg); /* Rotate third line 60 degrees on Y-axis */
          }
        }
    }
}
@media (width > 973px){
    .btnMenu{
        display: none;
    }
}